{% extends "index.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<h1>HOME</h1>
<p>
  Here you can find information about a specific book.
  to get started you just need to register and log in.
</p>
{% if session["user_id"] %}
<form action="/search" class="d-flex" role="search" method="post">
  <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endif %}

{% endblock %}
