{% extends "index.html" %}

{% block tittle %}
Review
{% endblock %}

{% block main %}
<h1><b>"{{ dataset['title'] }}"</b></h1>
<h2><i>by {{ dataset['author'] }}</i></h2>
<h3>published in <b>{{ dataset['year'] }}</b></h3>
<h4>ISBN code: <b>{{ dataset['isbn'] }}</b></h4>

<br>

<h4><b>Global rating (from Google Books API)</b></h4>
<ul>
  <li>Average rating: {{ dataset["averageRating"] }}</li>    
  <li>Ratings amount: {{ dataset["ratingsCount"] }}</li>
</ul>

<br>

<ul id="reseñas">
  <h4><b>Reviews:</b></h4>
  {% for element in reviews: %}
  <li>
    <h5>By {{ element["nombre"] }}</h5>
    <h6>Score: {{ element["puntuaje"] }}</h6>
    <p id="reseña">
      <i>- "{{ element['reseña'] }}"</i>
    </p>
  </li>
  {% endfor %}
</ul>

<h3>Share your review with us</h3>
<form action="/add_rating" method="post">
  <input type="number" min="1" max="5" name="score" required>
  <input type="text" name="content" required>
  <input type="hidden" name="isbn" value="{{ dataset['isbn'] }}">
  <button type="submit">SUBMIT</button>
</form>
{% endblock %}
