{% extends "index.html" %}

{% block title %}
Preview
{% endblock %}

{% block main %}
<h1><b>"{{ dataset['title'] }}"</b></h1>
<h2><i>by {{ dataset['author'] }}</i></h2>
<h3>published in <b>{{ dataset['year'] }}</b></h3>
<h4>ISBN code: <b>{{ dataset['isbn'] }}</b></h4>

<br>

<h4><b>Global rating (from Google Books API)</b></h4>
<ul>
  <li>Average rating: {{ dataset["averageRating"] }}</li>
  <li>Ratings amount: {{ dataset["ratingsCount"] }}</li>
</ul>

<br>

<h4><b>Reviews:</b></h4>
<div class="card-group" id="reseñas">
  {% for element in reviews: %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><b>By @{{ element["nombre"] }}</b></h5>
      <h6>Score: {{ element["puntuaje"] }}</h6>
      <p class="card-text" id="reseña">
        <i>- "{{ element['reseña'] }}"</i>
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<br>

<h3>Share your review with us</h3>
<form action="/rating/add" method="post">
  <div class="container text-center">
    <div class="d-flex input-group">
      <span class="input-group-text" id="basic-addon1">Score</span>
      <div class="form-outline w-25">
        <input class="flex-fill form-control" placeholder="your score" type="number" min="1" max="5" name="score"
          required>
      </div>
      <button class="btn btn-outline-secondary" type="submit">SUBMIT</button>
    </div>

    <div class="input-group">
      <textarea class="form-control" placeholder="your review" name="content" required></textarea>
    </div>
  </div>

  <input type="hidden" name="isbn" value="{{ dataset['isbn'] }}">
</form>
{% endblock %}
